@import "variables";

button {
  outline: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $black;
  font-family: 'Source Sans Pro', serif;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

input,
textarea {
  appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
